.page__footer
  background: $brand-primary
  padding: 0 $grid-gutter-width / 2
  position: relative
  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    +size(50%, $footer-height)
    z-index: 2
    background: $gray-lighter
  &_container
    position: relative
    z-index: 4
    @extend .container
    &_inner
      min-height: $footer-height
      +make-row()
      position: relative

  &_logo
    +make-col()
    +make-col-span(8)
    +media-breakpoint-up(md)
      +make-col-span(4)
    +media-breakpoint-up(lg)
      +make-col-span(3)
    padding-top: 77px
    background: $gray-lighter
    height: $footer-height

  &_menus, &_contact
    +make-col()
    +inverse()
    padding-top: 70px
    height: $footer-height

  &_menus
    +make-col-span(4)
    +media-breakpoint-up(lg)
      +make-col-span(6)
    .footer-menu
      @extend .hidden-md-down

  &_contact
    +make-col-span(4)
    +media-breakpoint-up(lg)
      +make-col-span(3)
    @extend .hidden-sm-down

  &_copyright
    padding-left: 155px
    background: url("zhar-logo-white.png") left top no-repeat
    &, a
      color: #f7afa6
    +size(333px, 45px)
    position: absolute
    bottom: 36px
    left: 50%
    font:
      size: 12px
    text-transform: uppercase
    line-height: 14px
    margin-left: -118px

    a
      text-decoration: underline
      &:hover
        text-decoration: none
        color: white
