.page__header
  background: $brand-primary
  border-bottom: 1px solid #eae3e2
  width: 100%
  height: $header-height
  +media-breakpoint-down(sm)
    height: $header-height-xs
  position: fixed
  z-index: 32
  perspective: 200px
  perspective-origin: center
  margin-bottom: 4px
  &:after
    +media-breakpoint-up(xl)
      content: ''
      position: absolute
      top: 0
      left: 0
      +size(50%, 100%)
      background: white
  &_container
    position: relative
    z-index: 4
    @extend .container
    height: 100%
    &_inner
      +make-row()
      height: 100%
      background: $brand-primary

  &_logo, &_menu, &_phone
    height: 100%
    +make-col()
    visibility: visible
    opacity: 1
    transition: all $transition-duration ease
    transform: rotateX(0deg)
    transform-origin: center top

  &_logo
    background: white
    +make-col-span(3)
    +media-breakpoint-down(md)
      +make-col-span(5)
      +make-col-push(1)
    +media-breakpoint-down(sm)
      +make-col-push(2)
  &_menu
    +make-col-span(6)
    +media-breakpoint-down(md)
      +make-col-span(1)
      +make-col-pull(5)
    +media-breakpoint-down(sm)
      +make-col-span(2)
    +inverse()
    padding: 0
  &_phone
    +make-col-span(3)
    +media-breakpoint-down(md)
      +make-col-span(5)
      +make-col-offset(1)
    +media-breakpoint-down(sm)
      +make-col-offset(0)
    +inverse()
    white-space: nowrap


  +media-breakpoint-up(lg)
    transition: height $transition-duration ease
    .logo
      padding-top: 10px
      &__image, &__label
        transition: all $transition-duration ease
      &__image
        height: 43px
      &__label
        visibility: visible
        opacity: 1
        transform: scale(1)
    &.fixed
      height: $header-height-fixed
      .logo
        padding-top: 6px
        &__image
          height: 15px
        &__label
          opacity: 0
          visibility: hidden
          transform: scale(.2)
    &.fixed &
      &_logo
        width: 151px
      &_menu, &_phone
        visibility: hidden
        opacity: 0
        transform: rotateX(-90deg)

