
.about
  &__showcase
    background-image: url(../images/index_technologies.jpg)
    margin-bottom: 44px
    +media-breakpoint-down(sm)
      background-image: url(../images/index_technologies_mobile.jpg)

  &__container
    @extend .container