.breadcrumb-navigation
  &__container
    @extend .container

  &__list
    @extend .list-unstyled
    &_item
      font-size: 10px
      text-transform: uppercase
      color: #b5b5b5
      &:not(:first-child):before
        content: ''
        +size(18px, 9px)
        background: url("../images/breadcrumb_arrow.png") no-repeat
        display: inline-block
        margin-right: 9px
      +media-breakpoint-up(md)
        display: inline
        margin-right: 9px

      a
        color: $gray
