.catalog-info
  height: 487px
  background: black center no-repeat
  background-size: cover
  color: white
  margin-bottom: 58px
  &__container
    @extend .container
    padding-top: 180px

  &__title
    font:
      size: 75px
      weight: $font-weight-bold
    text-transform: uppercase

  &__description
    font-size: 18px
    line-height: 26px
    max-width: 666px
