.catalog-filter

  &__trigger
    display: block
    +size(100%, 88px)
    line-height: 88px
    background: $brand-primary
    border: 0
    margin-bottom: 20px
    color: white
    text:
      transform: uppercase
      align: center
    +media-breakpoint-up(lg)
      display: none

  &__list
    @extend .list-unstyled
    background: white
    &_section
      &:not(:first-child)
        border-top: 1px solid #e5e5e5
      &_link
        display: block
        text-transform: uppercase
        font-size: 14px
        color: black
        line-height: 28px
        padding: 21px 29px
        &:hover
          background: #e5e5e5
          text-decoration: none

    +media-breakpoint-down(md)
      display: none