.catalog-section
  background: $gray-lightest
  &__container
    @extend .container
    padding-top: $grid-gutter-width

  &__all
    +make-row()
    &_filter
      +make-col()
      +make-col-span(3)
      +media-breakpoint-down(md)
        +make-col-span(12)
    &_items
      +make-col()
      +make-col-span(9)
      +media-breakpoint-down(md)
        +make-col-span(12)
  &__list
    +make-row()
    margin-bottom: 49px
    &_item
      +media-breakpoint-up(md)
        +make-col()
        +make-col-span(6)
      +media-breakpoint-up(lg)
        +make-col-span(4)
    &_separator
      clear: both
      height: $grid-gutter-width
      display: none
      +media-breakpoint-only(md)
        &--tablet
          display: block
      +media-breakpoint-up(lg)
        &--pc
          display: block

  &__card
    background: white
    transition: all $transition-hover-duration ease
    &:hover
      box-shadow: rgba(0, 0, 0, .15) 0 0 16px

    &_section
      padding: $grid-gutter-width
      &:not(:first-child)
        border-top: 1px solid #e5e5e5

    &_link
      color: black
      &:hover
        text-decoration: none
        color: $brand-primary

    &_image
      padding-top: 54%
      position: relative
      overflow: hidden
      &_inner
        position: absolute
        top: 0
        max-width: 100%
        max-height: 100%
        margin: auto

    &_title
      font:
        size: 19px
        weight: $font-weight-normal
      line-height: 22px
      height: 66px
      overflow: hidden

    &_properties
      font-size: 11px
      line-height: 30px
      white-space: nowrap
      tr + tr
        border-top: 1px solid #e5e5e5
      th
        font-weight: $font-weight-bold
        min-width: 112px
        padding-right: 8px
        color: #474747

    &_price
      color: $brand-primary
      font:
        size: 32px
        weight: $font-weight-bold
      line-height: 32px
      &_label
        font-size: 11px
        line-height: 11px
        text-transform: uppercase
        color: #5e5e5e
