.catalog-section-list
  padding-top: 46px
  padding-bottom: 80px
  &__container
    @extend .container

  &__title
    font:
      size: 50px
      weight: $font-weight-bold
    text-transform: uppercase
    line-height: 53px
    max-width: 50%
    margin-bottom: 14px

  &__label
    font:
      size: 25px
      weight: $font-weight-bold
    color: $brand-primary
    text-transform: uppercase
    margin-bottom: 6px

  &__subsection
    &s
      @extend .clearfix
      +media-breakpoint-up(lg)
        max-width: 50%
    &_link
      display: inline-block
      height: 24px
      line-height: 22px
      border: 1px solid $gray
      padding: 0 1rem
      font-size: 11px
      color: $gray
      margin: 0 10px 10px 0
      text-transform: uppercase
      white-space: nowrap
      &:active, &:focus, &:hover
        text-decoration: none
        color: white
      &:hover
        background: $gray
      &:active, &:focus
        background: darken($brand-primary, 20%)
        transition: background .1s ease
