.offers
  &__header
    background: white
    font:
      size: 30px
      weight: $font-weight-bold
    text-transform: uppercase
    line-height: 73px
    padding: 0 $grid-gutter-width
    margin: 0 0 10px

  &__content
    background: white

  &__list
    +make-row()
    &_item
      +make-col()
      +make-col-span(3)
      +media-breakpoint-down(md)
        +make-col-span(6)
      +media-breakpoint-down(sm)
        +make-col-span(12)
  &__card
    padding: $grid-gutter-width
    &_image
      position: relative
      padding-top: 65%
      background: center no-repeat
      background-size: contain
    &_section
      color: #9d9c9c
      font:
        size: 10px
        weight: $font-weight-bold
      text-transform: uppercase
    &_name
      font:
        size: 19px
        weight: $font-weight-normal
      line-height: 22px
      height: 110px
      overflow: hidden
    &_price
      color: $brand-primary
      font:
        size: 32px
        weight: $font-weight-bold
      line-height: 32px
      &_label
        color: #5e5e5e
        font-size: 11px
        text-transform: uppercase
        line-height: 11px