.catalog-reviews-list
  &_item
    margin-bottom: 32px
    &_name
      font:
        size: 18px
        weight: $font-weight-bold
    &_date
      font:
        size: 18px
        weight: $font-weight-light
      color: #9b9a9a
      text-transform: lowercase
    &_text
      font:
        size: 15px
        weight: $font-weight-light
