.catalog-section-index
  &__container
    @extend .container

  &__list
    @extend .list-unstyled
    +make-row()
    &_item
      +make-col()
      +make-col-span(12)
      +media-breakpoint-up(md)
        +make-col-span(6)
      +media-breakpoint-up(lg)
        +make-col-span(4)
      margin-bottom: 54px
    &_separator
      clear: both
      display: none
      +media-breakpoint-only(md)
        &--tablet
          display: block
      +media-breakpoint-up(lg)
        &--pc
          display: block

  &__link
    color: $body-color
    &:hover
      text:
        decoration: none
        shadow: rgba(0, 0, 0, .15) 0 0 8px
  &__link:hover &__picture
    box-shadow: rgba(0, 0, 0, .15) 0 0 8px

  &__picture
    overflow: hidden
    position: relative
    background: $gray-lightest
    padding-top: 46%
    margin-bottom: 15px
    transition: all $transition-hover-duration ease
    &_inner
      display: block
      position: absolute
      top: 0
      width: 100%

  &__title
    font:
      size: 30px
      weight: $font-weight-normal
    line-height: 32px
    margin-bottom: 16px
    letter-spacing: -.9px

  &__label
    color: #ef4323
    text-transform: uppercase
    margin-bottom: 4px
    font:
      size: 14px
      weight: $font-weight-bold


  &__subsection
    &_list
      @extend .list-unstyled
      +media-breakpoint-up(md)
        float: left
        width: 45%
        &:nth-child(odd)
          margin-right: 10%
      &_item
        line-height: 29px
        white-space: nowrap
    &_link
      color: $gray-dark
    &_count
      font-size: 10px
      color: $gray
      vertical-align: middle
      margin-left: 4px
