.catalog-detail
  &__main
    padding-top: 34px
    padding-bottom: 100px
    +media-breakpoint-down(sm)
      padding-bottom: 10px
    &_container
      @extend .container
    &_section
      color: #a3a3a3
      text-transform: uppercase
      letter-spacing: 2px
      font:
        weight: $font-weight-bold
        size: 20px
      +media-breakpoint-down(sm)
        font-size: 15px
    &_wrapper
      margin: 0px 0px 20px 0px
      &_name
        text-transform: uppercase
        font:
          weight: $font-weight-bold
          size: 50px
        line-height: 60px
        padding-bottom: 18px
        display: inline-block
        position: relative
        +media-breakpoint-down(sm)
          font-size: 28px
          line-height: 38px
        & > span
          position: relative
          padding-bottom : 18px
          &:after
            position: absolute
            left: 0
            bottom: 0
            width: 100%
            height: 1px
            border-bottom: 1px solid #ccc
            content: ""


  &__all
    background: #f5f2f2
    padding-top: $grid-gutter-width
    padding-bottom: 80px
    &_container
      @extend .container
    &_info
      +make-row()
      &_gallery
        +make-col()
        +make-col-span(5)
        +media-breakpoint-down(md)
          +make-col-span(12)

      &_description
        +make-col()
        +make-col-span(4)
        +media-breakpoint-down(md)
          +make-col-span(6)
        +media-breakpoint-down(sm)
          +make-col-span(12)
      &_shop
        +make-col()
        +make-col-span(3)
        +media-breakpoint-down(md)
          +make-col-span(6)
        +media-breakpoint-down(sm)
          +make-col-span(12)

  &__gallery
    &_main
      +size(100%, 0)
      padding-top: 82%
      background: white
      display: block
      position: relative
      margin-bottom: 18px
      &_inner
        display: block
        width: 100%
        position: absolute
        top: 0
        left: 0
    &_list
      +make-row()
      +list-unstyled()
      &__item
        +make-col()
        +make-col-span(3)
        display: block
        margin-bottom: 18px
        &_link
          display: block
          +size(100%, 0)
          padding-top: 82%
          background: white
          position: relative
          &_image
            display: block
            width: 100%
            position: absolute
            top: 0
            left: 0


  &__card
    background: white
    height: 635px
    +media-breakpoint-down(sm)
      height: auto
    &_section
      padding: 26px 30px
      &:not(:first-child)
        border-top: 1px solid #e5e5e5

      &_title
        font:
          size: 13px
          weight: $font-weight-bold
        text-transform: uppercase

      &_text
        font-size: 14px
        color: #5b5b5b
        line-height: 20px
  &__properties
    white-space: nowrap
    width: 100%
    font-size: 12px
    tr+tr
      border-top: 1px solid #e3e3e3
    th, td
      padding-top: 10px
      padding-bottom: 5px
    th
      color: #474747

  &__price
    &_label
      font:
        size: 13px
        weight: $font-weight-bold
      text-transform: uppercase
      margin-bottom: 8px
    &_value
      font:
        size: 32px
        weight: $font-weight-normal
      color: #ef4323
  &__quantity
    color: #0a9053
    font:
      size: 14px
      weight: $font-weight-normal
    &:before
      content: ""
      height: 15px
      width: 15px
      display: inline-block
      vertical-align: -3px
      margin-right: 8px
      background: url("../images/on-stock.png") 0 0 no-repeat
    &--no
      color: #ef4323
      &:before
        background: url("../images/not-stock.png") 0 0 no-repeat
  &__list-dealers
    font-size: 14px
    color: black
    border-bottom: 1px solid black
    display: inline
    padding-bottom: 1px
    &:hover
      color: black
      text-decoration: none
      border-bottom: transparent


  &__tabs
    border-bottom: 0
    &_item
      margin-bottom: 0
      background: $brand-primary
      margin-left: 0!important
      width: 33.3333333%
      &_link
        color: white
        text:
          align: center
          transform: uppercase
        &:hover
          background: darken($brand-primary, 10%)
          color: darken(white, 10%)
        +media-breakpoint-down(sm)
          font-size: 9px

  &__tab_content
    background: white
    padding: $grid-gutter-width
    +media-breakpoint-down(sm)
      font-size: 14px

