.certificates
  &__items
    +make-row()
  &__item
    padding-bottom: 70px
    +make-col()
    +make-col-span(3)
    +media-breakpoint-down(md)
      +make-col-span(6)
    +media-breakpoint-down(sm)
      +make-col-span(12)
    &__separator
      clear: both
      display: none
      height: $grid-gutter-width
      +media-breakpoint-only(md)
        &--tablet
          display: block
      +media-breakpoint-up(lg)
        &--pc
          display: block
    &_link
      &_img
        display: block
        margin: auto
        margin-bottom: 12px
      &_title
        text-align: center
        display: block
        font-size: 14px
        line-height: 14px
    &_img_big
      display: none
