.contact
  &__container
    @extend .container

  &__header
    margin-bottom: 73px
  &__title
    margin-bottom: 26px
  &__phone
    color: $brand-primary
    font:
      size: 25px
      weight: $font-weight-normal
    margin-bottom: 8px
  &__work_time
    font-size: 14px
    color: #676767
    line-height: 19px

  &__area
    background: #f5f2f2
    padding: 40px 0 90px

  &__all
    margin-bottom: 50px

  &__tabs
    border-bottom: 0
    &_item
      margin-bottom: 0
      background: $brand-primary
      margin-left: 0!important
      width: 50%
      &_link
        color: white
        &.active
          color: $brand-primary
        text:
          align: center
          transform: uppercase
        &:hover
          background: darken($brand-primary, 10%)
          color: darken(white, 10%)
        +media-breakpoint-down(sm)
          font-size: 9px

  &__tab_content
    background: white
    padding: $grid-gutter-width
    +media-breakpoint-down(sm)
      font-size: 14px

  &__search
    @extend .form-control
    max-width: 467px
    margin-bottom: 20px
    background: #f5f2f2 url("../images/search.png") calc(100% - 8px) center no-repeat
    box-shadow: inset rgba(0, 0, 0, .07) 0 3px 2px

  &__town-list
    @extend .list-unstyled
    column-count: 5
    font-size: 14px
    padding-top: 20px

    &_letter
      float: left
      width: 24px
      color: #cccccc
      &.hidden
        display: none

    &_town
      margin-left: 24px
      height: 35px
      white-space: nowrap
      transition: all $transition-duration ease
      .s-town
        cursor: pointer
        transition: all $transition-hover-duration ease
        transform: scale(1)
        opacity: 1
        visibility: visible
        &:hover
          text-decoration: underline
          color: $brand-primary

      &.hidden
        height: 0
        .s-town
          transform: scale(0)
          opacity: 0
          visibility: hidden

  &__shops
    background: white
    height: 842px
    position: relative
    &_all
      +size(289px, 100%)
      position: absolute
      top: 0
      left: 0
      z-index: 8
      background: white
      box-shadow: rgba(53, 11, 3, .1) 0 0 9px
    &_header
      height: 114px
      display: flex
      border-bottom: 1px solid #eaeaea
      &_title
        margin: auto
        width: 100%
        padding: 0 0 0 50px
        font:
          weight: $font-weight-bold
          size: 22px
        line-height: 26px
        &_town
          display: none
          &.active
            display: inline
    &_container
      +size(100%, 728px)
      overflow: auto

    &_list
      @extend .list-unstyled

    &_map
      position: absolute
      top: 0
      right: 0
      z-index: 1
      +size(821px, 100%)
  &__shop
    cursor: pointer
    background: white
    transition: height $transition-duration ease
    height: 150px
    position: relative
    overflow: hidden
    perspective: 400px
    &.hidden
      height: 0
    &_content
      +full-size()
      padding: 0 10px 0 50px
      border-bottom: 1px solid #eaeaea
      display: flex
      flex-direction: column
      justify-content: center
      transition: all $transition-duration ease
      transform: scale(1) rotateX(0deg)
      opacity: 1
      transform-origin: center 20px
      background: white
      &:hover
        background: #f5f5f5
    &.hidden &_content
      transform: scale(.5) rotateX(-90deg)
      opacity: .5
    &_title
      text-transform: uppercase
      font:
        size: 14px
        weight: $font-weight-bold
      line-height: 20px
    &_address
      font-size: 13px
    &_schedule
      font-size: 12px
      color: #969696
      padding-left: 19px
      background: url("../images/schedule.png") left no-repeat
    &_phone
      font-size: 12px
      color: #969696
      padding-left: 19px
      background: url("../images/phone.png") left no-repeat


