.faq-list
  padding-bottom: 40px
.faq-item
  &_title
    cursor: pointer
    text-transform: uppercase
    margin-bottom: 20px
    &:hover
      color: $brand-primary

    font:
      size: 17px
      weight: 300
    &.active
      color: $brand-primary

  &_answer
    display: none
    margin-bottom: 20px
    color: $gray-light

