.header-catalog
  position: absolute
  left: 0
  top: $header-height
  width: 100%
  background: #f8f7f7
  z-index: 16
  padding-top: $grid-gutter-width
  padding-bottom: $grid-gutter-width

  transform-origin: center top
  transform: rotateX(-40deg)
  opacity: 0
  visibility: hidden
  transition: all $transition-hover-duration ease
  &.active
    transform: rotateX(0deg)
    opacity: 1
    visibility: visible
  +media-breakpoint-down(md)
    display: none

  &__container
    @extend .container
  &__content
    +make-row()
    &_sections
      +make-col()
      +make-col-span(9)
      border-right: 1px solid #c6c6c6
    &_item
      +make-col()
      +make-col-span(3)


  &__list
    @extend .list-unstyled
    column-count: 4
    & > li
      break-inside: avoid
      line-height: 13px
      margin-bottom: 17px
      a
        text-transform: uppercase
        margin-bottom: 6px
        display: inline-block
        vertical-align: top
        font:
          size: 11px
          weight: $font-weight-bold
        color: black
        &:hover
          color: #666
    ul
      @extend .list-unstyled
      li
        margin-bottom: 6px
        line-height: 14px
        a
          color: #666
          display: inline
          text-transform: none
          font:
            weight: $font-weight-light
            size: 12px
          &:hover
            color: black

  &__item
    display: block
    padding-left: 160px
    position: relative
    color: black
    &:hover, &:focus, &:active
      text-decoration: none
    &_image
      width: 129px
      position: absolute
      top: 0
      left: 50px
      z-index: 1
      &_inner
        display: block
        max-width: 100%
    &_info
      position: relative
      z-index: 2
      padding-top: 11px
      &_label
        font-size: 11px
        text-transform: uppercase
        color: white
        background: $brand-primary
        display: inline-block
        line-height: 16px
        padding: 0 7px
      &_name
        line-height: 14px
        font:
          size: 12px
          weight: $font-weight-bold
        text-transform: uppercase
      &_color
        font-size: 11px
        color: #929090
      &_price
        color: $brand-primary
        font-weight: $font-weight-bold
