.header_phone
  padding: 10px 0 0
  letter-spacing: -0.9px
  line-height: 16px
  +media-breakpoint-up(md)
    font-size: 33px
    padding: 12px 0 0
    line-height: 33px

  &__label
    font-size: 11px
    line-height: 11px
    letter-spacing: -0.1px
    +media-breakpoint-down(sm)
      font-size: 9px
      line-height: 9px
