.index-partners
  &__container
    @extend .container
  &__header
    margin-top: 100px
    border-top: 1px solid #bababa
    margin-bottom: 60px
    text:
      align: center
      transform: uppercase
    position: relative
    &_title
      display: inline-block
      line-height: 21px
      font-size: 21px
      position: relative
      top: -12px
      background: white
      padding: 0 22px

  &__list
    text-align: center
    &_item
      height: 160px
      background: center no-repeat
      background-size: contain

    .owl-dot
      &s
        position: relative
        top: 76px
        display: inline-block
        background: white
      +size(18px)
      border: 1px solid #1b1b1b
      &.active
        border-color: $brand-primary
      display: inline-block
      border-radius: 50%
      margin: 0 9px

  &__footer
    margin-top: 60px
    border-top: 1px solid #bababa