.index-about
  margin-bottom: 32px
  padding-top: 92px
  position: relative
  &:after
    content: ""
    position: absolute
    bottom: -62px
    left: 50%
    margin-left: -30px
    width: 0
    height: 0
    border-style: solid
    border-width: 30px 29px 0 29px
    border-color: #ffffff transparent transparent transparent
  +media-breakpoint-down(sm)
    padding-top: 58px
  &__container
    @extend .container
    &_inner
      +make-row()
  &__header
    +make-col()
    +make-col-span(12)
    margin-bottom: 84px
    +media-breakpoint-down(sm)
      margin-bottom: 45px
    &_title
      font-size: 58px
      text-transform: uppercase
      +media-breakpoint-down(sm)
        font-size: 25px
    &_link
      font-size: 13px
      @extend .with-arrow
  &__item
    +make-col()
    +make-col-span(3)
    +media-breakpoint-down(md)
      +make-col-span(6)
      margin-bottom: 45px
    +media-breakpoint-down(sm)
      +make-col-span(12)
      margin-bottom: 35px
    &_name
      padding-bottom: 10px
      border-bottom: 1px solid #919191
      margin-bottom: 30px
      &_title
        font-size: 14px
        text-transform: uppercase
        font-weight: $font-weight-bold
        margin: 0
        position: relative
        &:after
          content: ""
          +size(27px, 27px)
          position: absolute
          top: 12px
          right: 0
          background: url("../images/cross.png") 0 0 no-repeat
    &_number
      color: $brand-primary
      text-transform: uppercase
      font-size: 12px
      font-weight: $font-weight-normal
      margin-bottom: 30px
      div
        font-size: 123px
        font-weight: $font-weight-bold
        line-height: 98px
        margin-bottom: 8px
    &_description
      font-size: 14px
      line-height: 18px
      font-weight: $font-weight-normal
