.catalog_showcase
  &__showcase
    background-image: url(../images/catalog_showcase.jpg)
    +media-breakpoint-down(sm)
      background-image: url(../images/catalog_showcase_mobile.jpg)

  &__section
    &s
      padding-top: 30px
      +media-breakpoint-down(sm)
        padding-top: 20px
      +media-breakpoint-up(lg)
        max-width: 60%
    &_link
      display: inline-block
      border: 1px solid white
      height: 27px
      line-height: 25px
      font-size: 10px
      text-transform: uppercase
      color: white
      padding: 0 10px
      margin: 0 10px 10px 0
      +media-breakpoint-down(sm)
        height: 24px
        line-height: 22px
        font-size: 9px
        padding: 0 6px
        margin: 0 8px 8px 0
      &:hover, &:focus, &:active, &--current
        text-decoration: none
        opacity: .5
        color: white
  &__link
    @extend .with-arrow
    font-size: 13px

  &__items
    padding-top: 16px
    padding-bottom: 16px
    +media-breakpoint-up(md)
      padding-top: 50px
    +media-breakpoint-up(lg)
      padding-top: 90px
    &_header
      margin-bottom: 30px
      &_title
        text-transform: uppercase
        font:
          weight: $font-weight-bold
          size: 28px
        line-height: 36px
        margin: 0
        +media-breakpoint-down(sm)
          font-size: 22px
          line-height: 29px
        +media-breakpoint-up(md)
          max-width: 60%
        +media-breakpoint-up(lg)
          max-width: 50%
      &_link
        @extend .with-arrow
        font-size: 13px
        & > span

          display: inline-block
          line-height: 20px
          transition: opacity $transition-hover-duration ease
          &:hover
            text-decoration: underline
        &:hover
          text-decoration: none
          & > span
            border-bottom-color: transparentize($brand-primary, 1)

  &__list
    +media-breakpoint-up(lg)
      width: 276px
      border-top: 1px solid $gray-lighter
      border-bottom: 1px solid $gray-lighter
      padding-top: 32px
      margin-bottom: 10px
      float: left
    +media-breakpoint-down(sm)
      display: none
    +media-breakpoint-only(md)
      background: $gray-lightest
      +make-row()
      padding-top: 45px
    &_item
      display: block
      @extend .clearfix
      max-width: 230px
      margin-bottom: 38px
      +media-breakpoint-only(md)
        +make-col()
        +make-col-span(4)
        padding-right: 0
      &:hover
        text-decoration: none
        text-shadow: rgba(0, 0, 0, .3) 0 0 8px
      &_image
        float: left
        width: 128px
        +media-breakpoint-only(md)
          width: 118px
        &_inner
          max-width: 132px
      &_info
        padding-top: 36px
      &_title
        font:
          size: 12px
          weight: $font-weight-bold
        color: black
        text-transform: uppercase
        line-height: 14px
        margin-bottom: 2px
      &_decor
        font-size: 12px
        color: $gray-light
        margin-bottom: 8px
      &_price
        color: $brand-primary
        font-weight: $font-weight-bold

    &_separator
      display: none
      clear: both
      &--tablet
        +media-breakpoint-only(md)
          display: block

  &__main
    overflow: hidden
    position: relative
    &_card
      position: absolute
      top: 0
      left: 337px
      background: rgba(255, 255, 255, .86)
      box-shadow: rgba(0, 0, 0, .18) 0 0 43px
      padding: 40px 35px
    &_title
      font-size: 25px
      line-height: 26px
    &_note
      font-size: 12px
      color: #747373
      line-height: 14px
    &_properties
      font-size: 11px
      margin-bottom: 60px
      &_caption
        caption-side: top
        font:
          size: 13px
          weight: $font-weight-bold
        text-transform: uppercase
        color: black
      tr
        border-bottom: 1px solid $gray-lighter
      th, td
        padding: 11px 0 5px
      th
        min-width: 180px
    &_price
      font:
        size: 52px
        weight: $font-weight-bold
      color: $brand-primary
      line-height: 52px
      &_label
        font-size: 13px
        text-transform: uppercase
        color: black
        line-height: 13px

  &__else
    font-size: 13px
    text-decoration: underline
