.stages
  background: $gray-lightest
  padding: 88px 0 0

  &__container
    @extend .container
    &_inner
      +make-row()
      padding-bottom: 80px

  &__header
    +make-col()
    +make-col-span(12)
    font:
      size: 25px
      weight: $font-weight-bold
    line-height: 37px
    text-transform: uppercase
    margin-bottom: 36px
    &_number
      font-size: 116px
      line-height: 70px
      color: $brand-primary
      display: block
      margin-bottom: 28px
      margin-left: -7px
      +media-breakpoint-up(md)
        float: left
        margin-right: 18px

  &__list
    @extend .list-unstyled
    &_item
      +make-col()
      +make-col-span(12)
      +media-breakpoint-up(md)
        +make-col-span(6)
      +media-breakpoint-up(lg)
        +make-col-span(3)

      &_inner
        display: flex
        flex-direction: column

      &_preview
        position: relative
        padding-top: 57.5%
        overflow: hidden
        &:after
          content: ''
          display: block
          position: absolute
          z-index: 4
          bottom: 0
          left: 50%
          margin-left: -12px
          border: 12px solid transparent
          border-bottom-color: $gray-lightest

      &_image
        display: block
        width: 100%
        position: absolute
        z-index: 2
        top: 0

      &_description
        +media-breakpoint-up(md)
          position: relative
          padding-top: 57.5%
        &_inner
          padding-top: 28px
          margin-bottom: 32px
          +media-breakpoint-up(md)
            position: absolute
            top: 0

      &_header
        color: $brand-primary
        font:
          size: 14px
          weight: $font-weight-bold
        text-transform: uppercase
        line-height: 18px
        height: 54px
        overflow: hidden
        margin-bottom: 4px
        &_number
          font:
            size: 65px
            weight: $font-weight-normal
          float: left
          margin-right: 4px
          margin-left: -3px
          height: 54px
          line-height: 52px
      &_text
        font-size: 14px
        line-height: 18px
        +media-breakpoint-up(md)
          overflow: hidden
          height: 72px

      +media-breakpoint-up(md)
        &:nth-child(odd) &_inner
          flex-direction: column-reverse
        &:nth-child(even) &_preview:after
          bottom: auto
          top: 0
          border-bottom-color: transparent
          border-top-color: $gray-lightest
      +media-breakpoint-only(md)
        &:first-child &_description_inner
          padding-top: 0
      +media-breakpoint-up(lg)
        &_description_inner
          padding-top: 0
        &_preview
          margin-bottom: 24px
        &:nth-child(odd) &_inner
          flex-direction: column
        &:nth-child(even) &_inner
          flex-direction: column-reverse
