
.index_banner
  position: relative
  .owl-nav.disabled
    display: block !important
    div
      height: 41px
      width: 41px
      position: absolute
      z-index: 100
      border: none
      outline: none
      text-indent: -9999px
      &.owl-prev
        top: 50%
        margin-top: -41px
        left: 20px
        background: url("../images/index_banner_left.png") 0 0 no-repeat

      &.owl-next
        top: 50%
        margin-top: -41px
        right: 20px
        background: url("../images/index_banner_right.png") 0 0 no-repeat


  &__showcase
    display: block
    margin-bottom: 44px
    color: white!important
    +media-breakpoint-down(xs)
      display: none

  &__container
    @extend .container

  &__content
    position: relative
    &_wrap
      position: absolute
      top: 80px
      background: rgba(225,87,65,.8)
      width: 50%
      padding: 50px 30px
      text-transform: uppercase
      +media-breakpoint-down(md)
        top: 55px
        width: 50%
        padding: 30px 25px
      +media-breakpoint-down(sm)
        width: 66%
        padding: 30px 25px
    &_header
      font-size: 44px
      line-height: 53px
      margin-bottom: 32px
      +media-breakpoint-down(lg)
        font-size: 26px
        line-height: 33px
      +media-breakpoint-down(sm)
        font-size: 26px
        line-height: 33px
    &_header_small
      font-size: 18px
      line-height: 25px
      font-weight: 300
      +media-breakpoint-down(md)
        font-size: 15px
      +media-breakpoint-down(sm)
        font-size: 15px
    &_link
      color: white
