@keyframes layer-3
  0%
    opacity: 0
  8%
    opacity: 1
  100%
    opacity: 1

@keyframes layer-2
  0%
    opacity: 0
    transform: translate(15px, -25px)
  10%
    opacity: 0
    transform: translate(15px, -25px)
  18%
    opacity: 1
    transform: translate(0, 0)
  100%
    opacity: 1
    transform: translate(0, 0)

@keyframes layer-1
  0%
    opacity: 0
    transform: translate(15px, -25px)
  20%
    opacity: 0
    transform: translate(15px, -25px)
  28%
    opacity: 1
    transform: translate(0, 0)
  100%
    opacity: 1
    transform: translate(0, 0)

@keyframes layer-4
  0%
    opacity: 0
    transform: translate(15px, -25px)
  30%
    opacity: 0
    transform: translate(15px, -25px)
  38%
    opacity: 1
    transform: translate(0, 0)
  100%
    opacity: 1
    transform: translate(0, 0)

@keyframes layer-5
  0%
    opacity: 0
    transform: translate(15px, -25px)
  40%
    opacity: 0
    transform: translate(15px, -25px)
  48%
    opacity: 1
    transform: translate(0, 0)
  100%
    opacity: 1
    transform: translate(0, 0)


@keyframes label-3
  0%
    opacity: 0
  5%
    opacity: 0
  13%
    opacity: 1
  100%
    opacity: 1


@keyframes label-2
  0%
    opacity: 0
  15%
    opacity: 0
  23%
    opacity: 1
  100%
    opacity: 1


@keyframes label-1
  0%
    opacity: 0
  25%
    opacity: 0
  33%
    opacity: 1
  100%
    opacity: 1


@keyframes label-4
  0%
    opacity: 0
  45%
    opacity: 0
  53%
    opacity: 1
  100%
    opacity: 1


@keyframes label-5
  0%
    opacity: 0
  35%
    opacity: 0
  43%
    opacity: 1
  100%
    opacity: 1
