@import "index_layers_animations"


.layers
  &__base
    position: relative
    width: 408px
  &__layer
    position: absolute
    opacity: 0
    transition: opacity $transition-duration ease
    &.active
      opacity: 1

    &--3
      top: 205px
      left: 65px
      z-index: 5
    &--2
      top: 228px
      left: 54px
      z-index: 4
    &--1
      top: 251px
      left: 45px
      z-index: 3
    &--4
      top: 277px
      left: 35px
      z-index: 2
    &--5
      top: 297px
      left: 25px
      z-index: 1

  &__list
    @extend .list-unstyled
    position: absolute
    top: 0
    left: 0
    z-index: 10
    &_item
      position: absolute
      font-size: 12px
      line-height: 17px
      padding-left: 28px
      opacity: 0
      transition: opacity $transition-duration ease
      &.active
        opacity: 1
      &--1
        +size(124px, 367px)
        left: 15px
        top: 54px
        background: url("layers_li1.png") no-repeat left top
      &--2
        +size(105px, 407px)
        left: 147px
        top: 54px
        background: url("layers_li2.png") no-repeat left top
      &--3
        +size(124px, 257px)
        left: 260px
        top: 54px
        background: url("layers_li3.png") no-repeat left top
      &--4
        +size(124px, 367px)
        left: 15px
        top: 481px
        background: url("layers_li4.png") no-repeat left top
        padding-top: 128px
      &--5
        +size(148px, 367px)
        left: 145px
        top: 499px
        background: url("layers_li5.png") no-repeat left top
        padding-top: 111px
        padding-left: 53px

  &.active &__layer--3
    animation: layer-3 10s 1
    opacity: 1

  &.active &__layer--2
    animation: layer-2 10s 1
    opacity: 1

  &.active &__layer--1
    animation: layer-1 10s 1
    opacity: 1

  &.active &__layer--4
    animation: layer-4 10s 1
    opacity: 1

  &.active &__layer--5
    animation: layer-5 10s 1
    opacity: 1

  &.active &__list_item--3
    animation: label-3 10s 1
    opacity: 1

  &.active &__list_item--2
    animation: label-2 10s 1
    opacity: 1

  &.active &__list_item--1
    animation: label-1 10s 1
    opacity: 1

  &.active &__list_item--4
    animation: label-4 10s 1
    opacity: 1

  &.active &__list_item--5
    animation: label-5 10s 1
    opacity: 1

