%it_title
  font:
    size: 22px
    weight: $font-weight-bold
  text-transform: uppercase
  line-height: 26px


.index-technologies
  &__showcase
    background-image: url(../images/index_technologies.jpg)
    margin-bottom: 44px
    +media-breakpoint-down(sm)
      background-image: url(../images/index_technologies_mobile.jpg)

  &__container
    @extend .container

  &__announce
    padding-bottom: 50px
    border-bottom: 1px solid #c7c7c7

  &__list
    @extend .list-unstyled
    overflow: hidden
    &_item
      padding-top: 66px
      padding-bottom: 50px
      font-size: 14px
      +media-breakpoint-up(md)
        padding-bottom: 80px
      &:not(:last-of-type)
        border-bottom: 1px solid #c7c7c7
  &__emblem
    position: absolute
    bottom: 0px
    @extend .clearfix
    &_img
      @extend .pull-left
      width: 102px
      margin: 23px 38px 0 0
    &_text
      @extend .pull-right
      width: 200px
      padding-top: 32px
      &_header
        font:
          size: 14px
          weight: $font-weight-bold
        margin-bottom: 10px
        &:before
          content: "—"
          margin-left: -27px
          padding-right: 10px
      &_description
        font-size: 12px


  &__title
    @extend %it_title
  &__announce &__title
    font-size: 37px
    line-height: 40px

  &__note
    color: $brand-primary
    line-height: 16px
    margin-bottom: 20px
  &__announce &__note
    margin-bottom: 36px



  &__layers
    +media-breakpoint-down(sm)
      display: none
    padding-top: 66px
    +size(408px, 1145px)
    float: right
    +media-breakpoint-only(md)
      margin-right: -$grid-gutter-width/2

    &_title
      @extend %it_title

.layers__base
  height: 850px


