.index-news
  margin-bottom: 32px
  padding-top: 92px
  &__container
    @extend .container
    &_inner
      +make-row()
  &__header
    margin-bottom: 40px
    +make-col()
    +make-col-span(3)
    +media-breakpoint-down(md)
      +make-col-span(12)
    &_title
      font-size: 28px
      text-transform: uppercase
      line-height: 32px
    &_link
      text-decoration: none
      font-size: 13px
      @extend .with-arrow
  &__item
    margin-bottom: 40px
    +make-col()
    +make-col-span(3)
    +media-breakpoint-down(md)
      +make-col-span(4)
    +media-breakpoint-down(sm)
      +make-col-span(12)
    &_link
      &:hover
        text-decoration: none
      &_date
        @extend .clearfix
        font-size: 10px
        font-weight: $font-weight-light
        vertical-align: top
        &_day
          font-size: 50px
          float: left
          margin-right: 4px
        &_month
          text-transform: uppercase
          color: #000000
          display: block
          padding-top: 17px
        &_year
          color: #000000
          display: block
      &_text
        font-size: 14px
        font-weight: $font-weight-light
        color: #000000
        line-height: 23px
