.leaders
  &__container
    @extend .container
  &__header
    margin-bottom: 120px
    margin-top: 46px
    &_h1
      font:
        size: 50px
        weight: $font-weight-bold
      text-transform: uppercase
      line-height: 53px
      margin-bottom: 16px
    &_h3
      font:
        size: 16px
        weight: $font-weight-default
      line-height: 22px
  &-list
    padding-top: 70px
    background: $gray-lightest
    &__separator
      clear: both
      display: none
      &--pc
        +media-breakpoint-up(lg)
          display: block
    &__container
      @extend .container
    &__items
      +make-row()
    &__item
      font-size: 14px
      +make-col()
      +make-col-span(3)
      +media-breakpoint-down(md)
        +make-col-span(6)
      +media-breakpoint-down(sm)
        +make-col-span(12)
      &_wrapper
        padding-bottom: 30px
        margin-bottom: 40px
        border-bottom: 1px solid #828081
      &_photo
        margin-bottom: 32px
        &_img
          height: 100%
          width: 100%
      &_name
        font:
          weight: $font-weight-bold
      &_position
        margin-bottom: 10px
      &_phone
        background: url("../images/phone.jpg") 0 3px no-repeat
        padding-left: 22px
        margin-bottom: 16px
        span
          padding: 1px
          font-size: 13px
      &_email
        &_link
          color: #828081
          border: 1px solid #828081
          padding: 5px 6px
          text-transform: uppercase
          font-size: 11px
          &:hover, &:active, &:focus
            text-decoration: none
            border-color: #e94f34

