.logo
  display: inline-block
  text-align: right
  &__image
    @extend .img-fluid
  &__label
    color: $brand-primary
    font:
      size: 11px
      weight: $font-weight-bold
    padding-right: 9px
