.footer-menu
  font-size: 14px
  line-height: 22px
  +pull-left()
  min-width: 117px
  &:not(:first-child)
    margin-left: $grid-gutter-width

  &--catalog &__list
    +media-breakpoint-up(xl)
      columns: 2
      column-gap: $grid-gutter-width

  &__title
    font:
      size: 14px
      weight: $font-weight-bold
    text-transform: uppercase
    padding-bottom: 8px
    border-bottom: 1px solid transparentize(white, .8)
    margin-bottom: 13px

  &__list
    +list-unstyled()
    opacity: .5
    text-transform: uppercase
    margin-bottom: 16px
    &_item
      margin-bottom: 5px

  &__email
    font-size: 17px
    line-height: 30px
    display: inline-block
