.main-menu
  height: $header-height
  +media-breakpoint-down(sm)
    height: $header-height-xs
  white-space: nowrap
  padding: 0

  &__trigger
    +media-breakpoint-up(lg)
      display: none
    +size(100%)
    border: 0
    background: url("../images/hamburger.gif") center no-repeat
    &:focus
      outline: none
    &.open
      background-image: url("../images/menu_close.png")

  ul
    +list-unstyled()

  & > ul
    +size(100%)
    display: flex
    & > li
      border-right: 1px solid rgba(255, 255, 255, .14)
      flex-grow: 1
      position: relative
      perspective: 200px
      perspective-origin: center
      & > a
        display: block
        height: $header-height
        line-height: $header-height
        text-align: center
        &:hover
          text-decoration: none
          background: darken($brand-primary, 10%)
      & > .submenu
        transform-origin: center top
        transform: rotateX(-40deg)
        opacity: 0
        visibility: hidden
        transition: all $transition-hover-duration ease
        position: absolute
        background: #f8f7f7
        color: $body-color
        padding: $grid-gutter-width/2 $grid-gutter-width
        & li
          margin-bottom: 10px
          a
            color: #666
            font-size: 12px
            line-height: 14px
    & > li:hover > .submenu
      transform: rotateX(0deg)
      opacity: 1
      visibility: visible
      +media-breakpoint-down(md)
        display: none


    +media-breakpoint-down(md)
      visibility: hidden
      opacity: 0
      transform-origin: center top
      transform: rotateX(-40deg)
      transition: all $transition-hover-duration ease
      +size(auto)
      flex-direction: column
      position: absolute
      background: #f8f7f7
      &.open
        transform: rotateX(0deg)
        opacity: 1
        visibility: visible

      & > li
        border-bottom: 1px solid #e2e1e1
        & > a
          padding: 0 $grid-gutter-width
          text:
            transform: uppercase
            align: left
          color: black

