.news-detail
  img
    @extend .img-fluid
  &__container
    @extend .container
  &__header
    margin-top: 46px
    margin-bottom: 26px
    +media-breakpoint-down(md)
      font-size: 40px
    +media-breakpoint-down(sm)
      font-size: 20px
      line-height: 29px
  &_date
    font:
      size: 17px
      weight: $font-weight-normal
    color: #9b9a9a
    line-height: 25px
    text-transform: lowercase
    margin-bottom: 18px
  &_picture
    margin-bottom: 18px
  &_text
    margin-bottom: 18px

