.news
  &__header
    padding: 32px 0 90px 0
    &_container
      @extend .container
    &_title
      +pull-left()
      text-transform: uppercase
      line-height: 53px
      font:
        size: 50px
    &_date
      +pull-right()
      @extend .clearfix
      color: #ACACAC
      text-transform: uppercase
      font-weight: $font-weight-normal
      &_day
        font-size: 92px
        line-height: 86px
      &_month
        padding-left: 8px
      &_month, &_year
        font-size: 15px

  &__container
    @extend .container
  &__list
    background: $gray-lightest
    padding: 20px 0 90px 0
    &_items
      +make-row()
    &_item
      +make-col()
      +make-col-span(12)
      &_wrapper
        img
          @extend .img-fluid
        +make-row()

      &_tr
        +make-col()
        +make-col-span(10)
        +media-breakpoint-down(sm)
          +make-col-span(12)
        &_wrapper
          +make-row()
          border-bottom: 1px solid #c4c2c2
          padding: 30px 0

          &.main
            padding-top: 0
            .news__list_item_image
              +make-col-span(12)
              &_main
                margin-bottom: 32px
            .news__list_item_content
              +make-col-span(12)
              &_title
                font-size: 35px
                line-height: 43px
                margin-bottom: 22px
              &_date
                display: none
              &_text
                width: 72%



      &__month
        +make-col()
        +make-col-span(2)
        @extend .hidden-xs-down
        &_h2
          color: #808080
          font-size: 25px
          border-top: 3px solid  #c4c2c2
          margin-top: 0px
          padding-top: 30px
          +media-breakpoint-down(sm)
            font-size: 14px

      &_image
        +make-col()
        +make-col-span(4)

        +media-breakpoint-down(md)
          +make-col-span(4)
        +media-breakpoint-down(sm)
          +make-col-span(12)

      &_content
        +make-col()
        +make-col-span(6)

        +media-breakpoint-down(md)
          +make-col-span(8)
        +media-breakpoint-down(sm)
          +make-col-span(12)

        &_title
          font:
            size: 18px
            weight: $font-weight-normal
          color: black
          display: block
          line-height: 22px
        &_date
          font:
            size: 17px
            weight: $font-weight-normal
          color: #9b9a9a
          display: block
          line-height: 25px
          text-transform: lowercase
          margin-bottom: 18px
        &_text
          font-size: 15px


