.pager
  border-top: 1px solid #dcd9d9
  padding: 19px 0 0
  text-align: right
  .pages
    @extend .list-unstyled
    margin-bottom: 75px
    li
      display: inline-block
      line-height: 34px
      text-align: center
      margin-left: 15px
      +size(36px)
      &.current
        border: 1px solid #aba9a9
        color: #aba9a9
      a
        +size(100%)
        display: inline-block
        border: 1px solid black
        color: black
        &:hover, &:focus, &:active
          text-decoration: none
          background: $gray
          color: white
        &:active
          background: $brand-primary
          border-color: $brand-primary