.recipe
  &Header
    height: 563px
    position: relative
    margin-bottom: 100px
    &__banner
      @extend %full-size
      background: center no-repeat
      background-size: cover
      z-index: 1
    &__content
      position: absolute
      z-index: 2
      background: rgba(255,255,255,.8)
      width: 100%
      left: 0
      bottom: 42px
      padding: 48px 0 40px
    &__title
      margin-bottom: 38px
    &__props
      @extend .list-unstyled
      @extend .clearfix
      width: 67%
      &Item
        float: left
        padding-right: 2%
        padding-left: 40px
        color: #3d3436
        width: 33%
        line-height: 20px
        &Label
          font-size: 14px
          text-transform: uppercase
          color: #b0abac
          font-weight: 800
        &--cook
          background: url("cook.png") left 2px no-repeat
        &--kitchen
          background: url("kitchen.png") left 2px no-repeat
        &--pan
          background: url("dishes.png") left 2px no-repeat
  &Ingredients
    padding-bottom: 50px
    &__title
      font-size: 30px
      text-transform: uppercase
    &__label
      font-size: 23px
      font-weight: 500
      line-height: 28px
      margin-bottom: 20px
    &__table
      td
        border-bottom: 1px solid #e9e8e8
        border-top: none
        padding: 12px 0 8px 0
        font-size: 14px
        &.name
          color: #f04323
        &.quantity
          text-align: right
  &Step
    border-top: 1px solid #e5e5e5
    padding-top: 60px
    padding-bottom: 62px

    &--red
      background: $brand-primary
      padding-top: 0
      padding-bottom: 0

    &__gallery
      margin-top: 26px
      &Photo
        max-height: 57px
        margin-right: 10px
        cursor: pointer

    &__name
      font-size: 14px
      color: #ef4222
      text-transform: uppercase
      margin-bottom: 30px
      font-weight: 500
    &__title
      font-size: 30px
      text-transform: uppercase
    &__description
      font-size: 18px
      font-weight: 300
      line-height: 24px
      color: rgba(0,0,0,.8)
      &--framed
        border: 10px solid #ee4423
        padding: 50px 60px
        margin-top: 38px
    &__note
      &:before
        content: ""
        background: #d63d1f url("logo_note.png") 16px 4px no-repeat
        height: 24px
        margin: 0 -16px 13px -16px
        display: block
        border-radius: 4px 4px 0 0
      background: #ee4423
      color: white
      padding: 0 16px 16px 16px
      font-size: 14px
      line-height: 23px
      margin-top: 28px
      border-radius: 4px

  &Gallery
    overflow: hidden
    padding-top: 60px

    &__header
      text:
        align: center
        transform: uppercase
      font-weight: bold
      margin-bottom: 42px
      &Label
        color: $brand-primary
        font-size: 14px
      &Title
        font-size: 30px
        line-height: 35px

    &__list
      @extend .list-unstyled
      @extend .center-block
      max-width: 826px
      position: relative
      padding-top: 66.6%
      &Item
        @extend %full-size
        transform: scale(.5)
        opacity: 0
        z-index: 4
        &--prev
          transform: scale(.666) translateX(-144%)
          opacity: .75
          z-index: 8
        &--next
          transform: scale(.666) translateX(144%)
          opacity: .75
          z-index: 8
        &--active
          transform: scale(1)
          opacity: 1
          z-index: 16

    &__photo
      @extend .img-fluid
