.recipes
  &Header
    &__tags
      margin-bottom: 90px
      margin-top: 44px
      &Item
        color: $gray-for-tag
        font-size: 14px
        text-transform: uppercase
        border: 1px solid $gray-for-tag
        margin-right: 20px
        padding: 6px 16px
  &Item
    background: white
    padding: 70px 0 75px 0
    margin-bottom: 10px
    &--odd
      background: #f6f2f3
    &__image
      @extend .img-fluid
      margin-top: -43px
    &__time
      background: url("time.png") left 2px no-repeat
      font-size: 14px
      margin-top: 8px
      padding-left: 22px
      color: #f1563a
      text-transform: uppercase
      margin-bottom: 26px
    &__name
      font-size: 30px
      margin-bottom: 15px
      &_link
        color: $brand-primary
        text-decoration: underline
        text-transform: uppercase
        cursor: pointer
    &__description
      font-size: 18px
      font-weight: 300
      line-height: 24px
      margin-bottom: 32px
    &__props
      @extend .list-unstyled
      @extend .clearfix
      margin-bottom: 42px
      &Item
        float: left
        width: 33%
        padding-right: 2%
        padding-left: 40px
        color: #3d3436
        line-height: 20px
        &Label
          font-size: 14px
          text-transform: uppercase
          color: #b0abac
          font-weight: 800
        &--cook
          background: url("cook.png") left 2px no-repeat
        &--kitchen
          background: url("kitchen.png") left 2px no-repeat
        &--pan
          background: url("dishes.png") left 2px no-repeat
    &__tags
      &Item
        color: $gray-for-tag
        font-size: 14px
        text-transform: uppercase
        border: 1px solid $gray-for-tag
        margin-right: 20px
        padding: 6px 16px


