.video
  &__container
    @extend .container
  &__header
    font:
      size: 50px
      weight: $font-weight-bold
    text-transform: uppercase
    line-height: 53px
    margin-bottom: 70px
    margin-top: 46px
  &-list
    padding-top: 70px
    background: $gray-lightest
    &__separator
      clear: both
      display: none
      height: $grid-gutter-width
      +media-breakpoint-only(md)
        &--tablet
          display: block
      +media-breakpoint-up(lg)
        &--pc
          display: block

    &__container
      @extend .container
    &__items
      +make-row()
    &__item
      padding-bottom: 70px
      +make-col()
      +make-col-span(4)
      +media-breakpoint-down(md)
        +make-col-span(6)
      +media-breakpoint-down(sm)
        +make-col-span(12)
      &_clip
        margin-bottom: 28px
        iframe
          width: 100%
      &_title
        text-transform: uppercase
        line-height: 34px
        font:
          size: 22px
          weight: $font-weight-bold
        margin-bottom: 20px
      &_description
        font-size: 14px

