body
  font-weight: $font-weight-default

h1
  text-transform: uppercase
  font-weight: $font-weight-bold
  line-height: 53px
  &.header
    margin-bottom: 70px
    margin-top: 46px

.grey_body
  background: $gray-lightest
  padding: 70px 0

