.showcase
  position: relative
  height: 583px
  color: white
  background: center top no-repeat
  background-size: cover
  +media-breakpoint-down(md)
    height: 350px
  +media-breakpoint-down(sm)
    height: 473px
  &__container
    @extend .container
    &_inner
  &__header
    padding-top: 270px
    +media-breakpoint-down(md)
      padding-top: 70px
    +media-breakpoint-down(sm)
      padding-top: 205px
    &_title
      font:
        size: 95px
        weight: $font-weight-bold
      margin: 0
      +media-breakpoint-down(md)
        font-size: 65px
        line-height: 68px
      +media-breakpoint-down(sm)
        font-size: 35px
        line-height: 40px
      text-transform: uppercase
      line-height: 95px
      &--else
        +media-breakpoint-up(lg)
          float: left
          margin-right: 38px
  &__description
    padding-top: 46px
    +media-breakpoint-down(md)
      padding-top: 20px
    max-width: 500px
    +media-breakpoint-up(lg)
      float: left
    &_text
      line-height: 19px
    &_link
      color: #df1014
      font-size: 13px
      @extend .with-arrow
      & > span
        padding-bottom: 4px
        &:hover
          text-decoration: underline
