@mixin with-arrow()
  &:after
    content: ""
    +size(22px, 10px)
    display: inline-block
    background: url("../images/arrow.png") 0 0 no-repeat
    margin-left: 10px
    vertical-align: -2px

.with-arrow
  +with-arrow()
